@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #5598fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: var(--primary-color);
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 1200px;
  border-radius: 20px;
  justify-content: flex-start;
  border-radius: 10px;
}

.sidebar {
  min-width: 250px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.815);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
  position: relative;
}

.search input {
  width: 100%;
  height: 40px;
  border: 1px solid #ced4da;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 15px;
  font-size: 14px;
  color: #495057;
}
.search input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}
.search button {
  min-width: 40px;
  height: 40px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.search ul {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  top: 40px;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.search ul li {
  padding: 10px 15px;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  text-transform: capitalize;
}
.search ul li:last-child {
  border-bottom: none;
}
.search ul li:hover {
  background-color: #f1f1f1;
}
.search ul li.active {
  background-color: #f1f1f1;
}
.temperature {
  display: flex;
  margin-top: 100px;
}
.temperature #temp {
  font-size: 60px;
  font-weight: 100;
  line-height: 1;
  color: #5598fd;
}
.temperature span {
  font-size: 40px;
  margin-top: -10px;
  display: block;
}
.divider {
  width: 100%;
  height: 1px;
  background: #72b9ff;
  margin: 20px 0;
}
.condition-rain {
  font-size: 12px;
  text-transform: capitalize;
}
.condition-rain div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.condition-rain div i {
  width: 20px;
}
.location {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  margin-top: 10px;
}
.dashboard {
  width: 100%;
  min-width: 400px;
  padding: 20px 40px;
  background-color: #f6f6f8;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dashboard nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard nav .options {
  display: flex;
  gap: 20px;
  align-items: center;
}
.dashboard nav .options button {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 600;
  color: #495057;
  cursor: pointer;
  text-transform: capitalize;
}
.dashboard nav .options button.active {
  color: var(--primary-color);
}

.dashboard nav .units button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #1a1a1a;
  background-color: #fff;
}
.dashboard nav .units button.active {
  color: #fff;
  background-color: #1a1a1a;
}
.dashboard .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.cards .card {
  width: 100px;
  height: 130px;
  border-radius: 20px;
  color: #1a1a1a;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h2 {
  font-size: 15px;
  font-weight: 600;
}
.card .card-icon {
  width: 50%;
  margin: 0 auto;
}
.card .day-temp {
  font-size: 12px;
  display: flex;
  justify-content: center;
  display: flex;
}
.highlights {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}
.highlights .heading {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.card2 {
  width: 250px;
  height: 150px;
  border-radius: 20px;
  color: #1a1a1a;
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.card2 .card-heading {
  color: #c2c2c2;
}

.card2 .content {
  margin-top: 20px;
}
.card2 .content p:first-child {
  text-align: center;
  font-size: 30px;
}
.card2 .content p:nth-child(2) {
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
}
